{% extends "blocks/block" %}

{% macro errorList(errors) %}
    {% if errors %}
        {% for error in errors %}
            <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
    {% endif %}
{% endmacro %}

{% block content %}
    {# `user` is defined if the form returns validation errors. #}
    {% set user = user ?? null %}

    <form method="post" accept-charset="UTF-8" class="register-form">
        {{ csrfInput() }}
        {{ actionInput('users/save-user') }}
        {{ redirectInput('') }}

        {% if not craft.app.config.general.useEmailAsUsername %}
            <div class="mb-3 form-floating">
                {{ input('text', 'username', user.username ?? null, {
                    id: 'username',
                    autocomplete: 'username',
                    placeholder: 'Username'|t('site'),
                    class: 'form-control' ~ (user and user.getErrors('username') ? ' is-invalid')
                }) }}
                <label for="username">{{ 'Username'|t('site') }}</label>
                {{ user ? _self.errorList(user.getErrors('username')) }}
            </div>
        {% endif %}

        <div class="mb-3 form-floating">
            {{ input('text', 'firstName', user.firstName ?? null, {
                id: 'firstName',
                autocomplete: 'given-name',
                placeholder: 'First Name'|t('site'),
                class: 'form-control' ~ (user and user.getErrors('firstName') ? ' is-invalid')
            }) }}
            <label for="firstName">{{ 'First Name'|t('site') }}</label>
            {{ user ? _self.errorList(user.getErrors('firstName')) }}
        </div>

        <div class="mb-3 form-floating">
            {{ input('text', 'lastName', user.lastName ?? null, {
                id: 'lastName',
                autocomplete: 'family-name',
                placeholder: 'Last Name'|t('site'),
                class: 'form-control' ~ (user and user.getErrors('lastName') ? ' is-invalid')
            }) }}
            <label for="lastName">{{ 'Last Name'|t('site') }}</label>
            {{ user ? _self.errorList(user.getErrors('lastName')) }}
        </div>

        <div class="mb-3 form-floating">
            {{ input('email', 'email', user.email ?? null, {
                id: 'email',
                autocomplete: 'email',
                placeholder: 'Email'|t('site'),
                class: 'form-control' ~ (user and user.getErrors('email') ? ' is-invalid')
            }) }}
            <label for="email">{{ 'Email'|t('site') }}</label>
            {{ user ? _self.errorList(user.getErrors('email')) }}
        </div>

        <div class="mb-3 form-floating">
            {{ input('password', 'password', null, {
                id: 'password',
                placeholder: 'Password'|t('site'),
                class: 'form-control' ~ (user and user.getErrors('password') ? ' is-invalid')
            }) }}
            <label for="password">{{ 'Password'|t('site') }}</label>
            {{ user ? _self.errorList(user.getErrors('password')) }}
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
    </form>

{% endblock %}