{% extends "blocks/block" %}

{% block content %}
    <form method="post" accept-charset="UTF-8" class="reset-password-form">
        {{ csrfInput() }}
        {{ actionInput('users/send-password-reset-email') }}
        {{ redirectInput('') }}

        {% set label = 'Username or email'|t('site') %}
        {% if craft.app.config.general.useEmailAsUsername %}
            {% set label = 'Email'|t('site') %}
        {% endif %}

        <div class="mb-3 form-floating">
            {{ input('text', 'loginName', loginName ?? craft.app.user.rememberedUsername, {
                id: 'loginName',
                autocomplete: 'username',
                placeholder: label,
                class: 'form-control'
            }) }}
            <label for="loginName">{{ label }}</label>
            {% if errors is defined %}
                {% for error in errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>

        <button type="submit" class="btn btn-primary">{{ 'Submit'|t('site') }}</button>
    </form>
{% endblock %}