{% extends "blocks/block" %}

{% set code = craft.app.request.getRequiredParam('code') %}
{% set id = craft.app.request.getRequiredParam('id') %}

{% block content %}
    <form method="post" accept-charset="UTF-8" class="set-password-form">
        {{ csrfInput() }}
        {{ actionInput('users/set-password') }}
        {{ hiddenInput('code', code) }}
        {{ hiddenInput('id', id) }}

        <div class="mb-3 form-floating">
            {{ input('password', 'newPassword', null, {
                id: 'new-password',
                placeholder: 'New Password'|t('site'),
                class: 'form-control'
            }) }}
            <label for="new-password">{{ 'New Password'|t('site') }}</label>

            {% if errors is defined %}
                {% for error in errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>

        <button type="submit" class="btn btn-primary">{{ 'Submit'|t('site') }}</button>
    </form>
{% endblock %}
