{#{% cache using key 'header' ~ siteId %}#}
{% cacheflag flagged "global|header:#{siteId}" %}

{% set aykonAlbhthClass = global.aykonAlbhth.getGlyphName()%}
    {% set aykonAlbhthCode= global.aykonAlbhth.getGlyph(('hex'))  %}
    {%set cssClasses=cssClasses~'.icon-'~    aykonAlbhthClass~':before {content:"\\'~aykonAlbhthCode~'"\;     color: #d4d4d4;                   }' %}


    {% set aykonAlkaym= global.aykonAlkaym %}
    {% set aykonAlkaymClass = aykonAlkaym.getGlyphName()%}
    {% set aykonAlkaymCode= aykonAlkaym.getGlyph(('hex'))  %}
    {%set cssClassess=cssClassess~'.icon-'~    aykonAlkaymClass~':before {content:"\\'~aykonAlkaymCode~'"\;       font-size: 30px;       color: var(--main);  }' %}

    {% set aykonAlngm= global.aykonAlngm %}
    {% set aykonAlngmClass = aykonAlngm.getGlyphName()%}
    {% set aykonAlngmCode= aykonAlngm.getGlyph(('hex'))  %}

<header class="menubar has-trans">
    <div class="f-row" id="gn-menu">
        <div class="f-row-auto">
{#
            <button class="phone-menu-trigger" aria-label="navigation-menu"><i class="open-menu icon-{{ aykonAlkaymClass }}"></i></button>
#}

                <a href="{{ global.alrabtAlasasyLlmokaa  }}/" class="logo f-row">
                    <img src="{{ siteLogo }}" alt="{{ currentName }}" width="60" height="60">
                    <span class="site-title">{{ aanoanAlmokaa }}</span>
                </a>

            <div class="f-row menu menu-wrapper mobile">
                <span title="{{ "Menu"|t }}" class="open-menu icon-menu"></span>
                <nav class="navtop clear">
                    <ul>
                    {% for link in global.headerNavigation %}
                        <li>
                        {% set class= "" %}
        {% if link.iconsPicker|length %}
                        {% set class= link.iconsPicker.getGlyphName()  %}
                        {% set ff= link.iconsPicker.getGlyph(('hex'))  %}
                        {%set cssClasses=cssClasses~'.icon-'~    class~':before {content:"\\'~ff~'"\;                    }' %}

                        <a href="{{ link.blockLink }}" class="{{  ff}} icon-{{class}}">{{ link.blockText }}</a>
            {% else %}
                        <a href="{{ link.blockLink }}">{{ link.blockText }}</a>
        {% endif %}
                        </li>
                    {% endfor %}
                </nav>
                </ul>
            </div>
        </div>
        <div class="f-row-auto search-block">
            <form method="get" id="searchform-header" action="{{ alrabtAlasasyLlmokaa }}/search">
                <button class="search-button icon-search" type="submit" value="{{ "Search..."|t }}" name="search" aria-label="{{  "Search..."|t }}"></button>
                <input class="search" type="search" id="sm-header" name="query" title="{{ "Search..."|t }}" placeholder="{{ "Search.."|t }}">
            </form>
            {#<div class="langs">
  <span id="langs" class="lang-code current-lang icon-language">
    <span class="name">العربية</span>
  </span>
                <div id="langs-drop" class="langs-drop">
                    <ul>
                        <li>
                            <a class="lang-code" href="https://en.z.gold/whatsapp-gold">الانجليزية</a>
                        </li>
                    </ul>
                </div>
            </div>#}
        </div>
{#        <div class="column">
            <div class="search-form">
                <form action="{{ global.alrabtAlasasyLlmokaa  }}/search" accept-charset="UTF-8" method="get">
                    <div class="container">
                        <button type="submit" aria-label="submit-search icon-{{ aykonAlbhthClass }}"><i class="icon-{{ aykonAlbhthClass }}"></i>
                        </button>
                        <label>
                            <input type="search" name="q" placeholder="{{ "App Name ..."|t }}">
                        </label>
                    </div>
                </form>
            </div>
            <div class="language-switcher">

            </div>
        </div>#}
    </div>

</header>
{#         {% minify css %}
        <style>{{cssClasses|raw  }}{{ cssClassess|raw }}</style>
         {% endminify %}#}
{#{% endcache %}#}
{% endcacheflag %}
